<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube DL</title>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
</head>
<body>
    <form method="post" class="container" style="max-width: 24rem; padding-top: 4rem;" >
        <h2>FzOrb's YTDL service</h2>
        <input class="input" type="text" name="link" placeholder="Input link" id="username" required="" maxlenght="17" autocomplete="off">
        <button class="button info" type="submit">Submit</button>
    </form>
    <div class="container">
        <h2>How does this work?</h2>
        <p>This uses the <a href="https://youtube-dl.org/">youtube-dl</a> library to provide urls.</p>
        <h2>Why was this made?</h2>
        <p>I personally think that most of these sites people use to download stuff are pretty bad. Some of them put watermarks in video files, some make you see 500 ads just to get that cool meme template and others are just plain malicious.
        This service has been made to cater to my own needs and as such I made it as lightweight as possible</p>
        <h2>Demo</h2>
        <img src="/static/demo.gif" width="666" height="369">
    </div>
</body>
</html>
